@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* background: #3b4acd; */
  background-color: #313a52;
  color: #a5b2d3;
  padding: 0.5em;
  font-family: "Nunito", sans-serif;
  height: 100vh;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header svg {
  width: 1.5em;
  cursor: pointer;
}

a {
  color: white;
}

ul {
  list-style: none;
  padding: 0;
}

a.logo {
  font-weight: bold;
  margin: 0 1em;
}

a.cta-btn {
  margin-left: auto;
  background: #fc85ae;
  padding: 0.2em 0.4em;
  display: inline-block;
  border-radius: 0.2em;
  font-size: 0.9em;
  color: #303a52;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  text-decoration: none;
}

/* Navigation */

nav {
  position: fixed;
  /* background: #576483; */
  background-color: #293144;
  height: 100vh;
  left: 0;
  top: 0;
  width: 80%;
  /* visibility: visible; */
  visibility: hidden;
  transform: translateX(-50%);
  /* opacity: 1; */
  opacity: 0;
  transition: all 0.3s;
  text-align: right;
}

nav p {
  margin-bottom: 0;
}

nav svg {
  cursor: pointer;
  width: 1em;
}

nav ul li a {
  display: block;
  padding: 0.8em 1em;
  font-size: 1.2em;
  text-decoration: none;
}

.selected {
  background: #9e579d;
}

.open-nav {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
}

/* Main Section */

h1 {
  color: white;
  margin-top: 1em;
  font-size: 2.5rem;
}

.panel {
  background: #39445f;
  border-radius: 0.3em;
  padding: 1em;
  margin-bottom: 2em;
}

h3 {
  color: #fc85ae;
  margin: 0;
  font-size: unset;
}

p {
  font-size: 1rem;
  line-height: 1.4em;
}

ul.data li p {
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  margin: 0.3em 0 1em;
}

ul.data li:last-child p {
  margin-bottom: 0;
}
ul.secondary {
  margin-top: 2em;
}
ul.secondary li p {
  font-size: 1.25rem;
}

main {
  /* border: 1px solid white; */
}

.inner-wrapper {
  padding: 1em;
}

@media (min-width: 420px) {
  body {
    padding: 1em;
    text-align: left;
  }

  ul.data {
    display: flex;
    flex-wrap: wrap;
  }

  ul.data li {
    /* makes 2 col layout */
    flex: 0 0 50%;
  }
}

@media (min-width: 550px) {
  ul.data {
    justify-content: center;
  }
  .panel ul.data li {
    /* makes 3 col layout for top data panel */
    flex: 0 0 33%;
  }

  .panel ul.data li p {
    margin-bottom: 0;
  }
  nav {
    width: 40%;
  }
}

@media (min-width: 720px) {
  body {
    padding: 1.5em;
  }

  .columns {
    display: flex;
  }

  .col {
    flex: 0 0 48%;
  }

  .secondary {
    margin-left: 3em;
  }

  ul.secondary {
    margin-top: 0;
  }

  nav {
    width: 30%;
  }
}

@media (min-width: 820px) {
  body {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 70px auto;
    grid-template-areas:
      "sidebar header"
      "sidebar main";
    padding: 0;
  }

  header,
  main {
    padding: 1.5em;
  }

  nav {
    grid-area: sidebar;
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
    width: 100%;
    position: unset;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  a.logo {
    margin: 0;
  }
  svg {
    /* hide hamburger menu and arrow in menu */
    display: none;
  }
}
